@import "tailwindcss";

:root {
  --background: #0b0f1a;
  --foreground: #f8fafc;
}

body {
  color: var(--foreground);
  background: var(--background);
}

/* Custom Scrollbar for our Feed */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(15, 23, 42, 0.5);
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(51, 65, 85, 0.8);
  border-radius: 10px;
}